header 
{
	width: 100%;
	height: 50px;
	background: rgba(255,255,255, 0.7);
}

.p1 
{
	font-size: 27px;
	font-family: Tahoma;
	font-weight: bold;
	margin-left: 8px;
	margin-top: 5px;
	padding-top: 8px;
	opacity: 1;
}

body 
{
	background-color: #f2f3f4;
	background-image: url("images/background.jpg");
	background-size: 100%;
}

.p2
{
	font-size: 15px;
	font-family: Tahoma;
	text-transform: uppercase;
	font-weight: bold;
}

div 
{
	border-radius: 15px 50px;
	background: rgba(255,255,255, 0.7); 
	width: 25%;
	height: 500px;
	margin-top: 2%;
	padding: 20px 20px 20px 20px;
	color: black;
	text-align: justify;
	text-justify: inter-word;
}

#name
{	
	margin-left: 50px;
	float: left;
}

#fave
{
	float: left;
	margin-left: 5%;
}

#hobbies
{
	
	margin-right: 50px;
	float: right;
}


